@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at top left, #dbeafe, transparent 30%),
    radial-gradient(circle at bottom right, #e0e7ff, transparent 30%),
    #f8fafc;

  font-family: 'Inter', sans-serif;
  overflow: hidden;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}